﻿body {
    background-color: lightblue;
}
.main-header {
    width: 100%;
    height: 130px;
    background-color: coral;
}

.main-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid coral;
}

.main-header-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid coral;
}

.login-layout {
    width: 600px;
    margin: 30px auto;
}