﻿body {
    background-color: lightblue;
}

.main-header {
    width: 100%;
    height: 150px;
    background-color: coral;
}

.main-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid coral;
}

.main-header-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid coral;
}
/*------------------------------------------------ CATEGORY ------------------------------------------------*/
.category-grid {
    width: 600px;
    margin: 30px auto;
}
.category-grid tbody tr th {
    text-align: left;
    padding: 6px;
}
.category-grid tbody tr td {
    text-align: left;
    padding: 6px;
}
.category-grid tbody tr th:nth-child(2) {
    width: 100px;
}
.category-grid tbody tr th:nth-child(3) {
    width: 70px;
}
.category-grid tr td a {
    text-decoration: none;
    color: white !important;
    background-color: rgb(24, 143, 255);
    border: 2px solid rgb(24, 143, 255);
    border-radius: 4px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
    margin: 0;
}

.category-details {
    width: 400px;
    margin: 30px auto;
}
.category-details tbody tr td {
    padding: 6px;
}
.category-details tr td:nth-child(2) select {
    margin: 0 10px;
    width: 95%;
}
.category-details tr td:nth-child(2) input {
    margin: 0 10px;
    width: 94%;
}
    .category-details tr:nth-child(2) td:nth-child(2) input {
        margin: 0 10px 0 0;
        width: 20px;
    }
.category-details tr td a {
    text-decoration: none;
    color: white !important;
    background-color: rgb(24, 143, 255);
    border: 2px solid rgb(24, 143, 255);
    border-radius: 4px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px 10px;
    margin: 0 20px 0 5px;
}
.category-details tr:nth-child(3) td {
    padding: 0px;
    height: 43px;
}
/*------------------------------------------------ ROLE ------------------------------------------------*/
.role-grid {
    width: 800px;
    margin: 30px auto;
}

    .role-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .role-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .role-grid tbody tr th:nth-child(1) {
        width: 20px;
    }

    .role-grid tbody tr th:nth-child(2) {
        width: 120px;
    }

    .role-grid tbody tr th:nth-child(4) {
        width: 75px;
    }

    .role-grid tbody tr th:nth-child(5) {
        width: 50px;
    }

    .role-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }

.role-details {
    width: 600px;
    margin: 30px auto;
}

    .role-details tbody tr td {
        padding: 6px;
    }

    .role-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .role-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .role-details tr:nth-child(3) td:nth-child(2) input {
        margin: 0 10px 0 0;
        width: 20px;
    }

    .role-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .role-details tr:nth-child(4) td {
        padding: 0px;
        height: 43px;
    }
/*------------------------------------------------ SUPPLIER ------------------------------------------------*/
.supplier-grid {
    width: 800px;
    margin: 30px auto;
}

    .supplier-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .supplier-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .supplier-grid tbody tr th:nth-child(2) {
        width: 150px;
    }

    .supplier-grid tbody tr th:nth-child(3) {
        width: 150px;
    }

    .supplier-grid tbody tr th:nth-child(4) {
        width: 75px;
    }

    .supplier-grid tbody tr th:nth-child(5) {
        width: 50px;
    }

    .supplier-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }

.supplier-details {
    width: 600px;
    margin: 30px auto;
}

    .supplier-details tbody tr td {
        padding: 6px;
    }

    .supplier-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .supplier-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .supplier-details tr:nth-child(5) td:nth-child(2) input {
        margin: 0 10px 0 0;
        width: 20px;
    }

    .supplier-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .supplier-details tr:nth-child(6) td {
        padding: 0px;
        height: 43px;
    }
/*------------------------------------------------ PRODUCT ------------------------------------------------*/
.product-grid {
    width: 800px;
    margin: 30px auto;
}

    .product-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .product-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }
    .product-grid tbody tr th:nth-child(3) {
        text-align: right;
        padding: 6px;
    }

    .product-grid tbody tr td:nth-child(3) {
        text-align: right;
        padding: 6px;
    }
    .product-grid tbody tr th:nth-child(1) {
        width: 150px;
    }

    .product-grid tbody tr th:nth-child(3) {
        width: 100px;
    }

    .product-grid tbody tr th:nth-child(4) {
        width: 75px;
    }

    .product-grid tbody tr th:nth-child(5) {
        width: 50px;
    }

    .product-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }

.product-details {
    width: 600px;
    margin: 30px auto;
}

    .product-details tbody tr td {
        padding: 6px;
    }

    .product-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .product-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .product-details tr:nth-child(5) td:nth-child(2) input {
        margin: 0 10px 0 0;
        width: 20px;
    }

    .product-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .product-details tr:nth-child(6) td {
        padding: 0px;
        height: 43px;
    }
/*------------------------------------------------ REPORT ------------------------------------------------*/
.report-grid {
    width: 800px;
    margin: 30px auto;
}

    .report-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .report-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .report-grid tbody tr th:nth-child(4) {
        text-align: right;
        padding: 6px;
    }

    .report-grid tbody tr td:nth-child(4) {
        text-align: right;
        padding: 6px;
    }

    .report-grid tbody tr th:nth-child(1) {
        width: 70px;
    }

    .report-grid tbody tr th:nth-child(2) {
        width: 200px;
    }
    .report-grid tbody tr th:nth-child(3) {
        width: 200px;
    }
    .report-grid tbody tr th:nth-child(5) {
        width: 120px;
    }

.report-details {
    width: 400px;
    margin: 30px auto;
}

    .report-details tbody tr td {
        padding: 6px;
    }

    .report-details tr td:nth-child(2) {
        text-align: right;
    }
/*------------------------------------------------ USERS MAINTENANCE ------------------------------------------------*/
.user-grid {
    width: 800px;
    margin: 30px auto;
}

    .user-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .user-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .user-grid tbody tr th:nth-child(1) {
        width: 110px;
    }

    .user-grid tbody tr th:nth-child(2) {
        width: 110px;
    }

    .user-grid tbody tr th:nth-child(4) {
        width: 90px;
    }
    .user-grid tbody tr th:nth-child(5) {
        width: 70px;
    }
    .user-grid tbody tr th:nth-child(6) {
        width: 60px;
    }

    .user-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }

.user-details {
    width: 600px;
    margin: 30px auto;
}

    .user-details tbody tr td {
        padding: 6px;
    }

    .user-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .user-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .user-details tr:nth-child(6) td:nth-child(2) input {
        margin: 0 20px 0 0;
        width: 20px;
    }

    .user-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .user-details tr:nth-child(7) td {
        padding: 0px;
        height: 43px;
    }
/*------------------------------------------------ CUSTOMERS ------------------------------------------------*/
.customer-search {
    width: 800px;
    margin: 30px auto;
}
    .customer-search tr td:nth-child(1) {
        width: 100px;
    }

    .customer-search tr td:nth-child(2) {
        width: 450px;
    }

.customer-grid {
    width: 800px;
    margin: 30px auto;
}

    .customer-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .customer-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .customer-grid tbody tr th:nth-child(1) {
        width: 30px;
    }

    .customer-grid tbody tr th:nth-child(2) {
        width: 100px;
    }

    .customer-grid tbody tr th:nth-child(3) {
        width: 100px;
    }

    .customer-grid tbody tr th:nth-child(5) {
        width: 100px;
    }

    .customer-grid tbody tr th:nth-child(6) {
        width: 70px;
    }
    .customer-grid tbody tr th:nth-child(7) {
        width: 60px;
    }
    .customer-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }

.customer-details {
    width: 400px;
    margin: 30px auto;
}

    .customer-details tbody tr td {
        padding: 6px;
    }
    .customer-details tr td:nth-child(1){
        width: 120px;
    }
    .customer-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .customer-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .customer-details tr:nth-child(7) td:nth-child(2) input {
        margin: 0 20px 0 0;
        width: 20px;
    }

    .customer-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .customer-details tr:nth-child(8) td {
        padding: 0px;
        height: 43px;
    }
/*------------------------------------------------ ORDERS ------------------------------------------------*/
.order-search {
    width: 800px;
    margin: 30px auto;
}

    .order-search tr td:nth-child(1) {
        width: 100px;
    }

    .order-search tr td:nth-child(2) {
        width: 450px;
    }

/*order 1*/
.order-details {
    width: 600px;
    margin: 30px auto;
}

    .order-details tbody tr td {
        padding: 6px;
    }

    .order-details tr td:nth-child(1) {
        width: 180px;
    }
    .order-details tr:nth-child(1) td:nth-child(1) {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "open sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: brown;
    }
    .order-details tr:nth-child(11) td:nth-child(1) {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "open sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: brown;
    }
    .order-details tr:nth-child(18) td:nth-child(1) {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "open sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: brown;
    }
    .order-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .order-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .order-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .order-details tr:nth-child(26) td {
        padding: 0px;
        height: 43px;
    }

/*order-items 2*/
.order-items-grid {
    width: 800px;
    margin: 30px auto;
}

    .order-items-grid tbody tr th {
        text-align: left;
        padding: 6px;
    }

    .order-items-grid tbody tr td {
        text-align: left;
        padding: 6px;
    }

    .order-items-grid tbody tr th:nth-child(1) {
        width: 70px;
    }

    .order-items-grid tbody tr th:nth-child(3) {
        width: 70px;
    }

    .order-items-grid tbody tr th:nth-child(4) {
        width: 70px;
    }

    .order-items-grid tbody tr th:nth-child(5) {
        width: 110px;
    }
    .order-items-grid tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px;
        margin: 0;
    }
/*order-item 3*/
.order-item-details {
    width: 400px;
    margin: 30px auto;
}

    .order-item-details tbody tr td {
        padding: 6px;
    }

    .order-item-details tr td:nth-child(1) {
        width: 120px;
    }

    .order-item-details tr td:nth-child(2) select {
        margin: 0 10px;
        width: 95%;
    }

    .order-item-details tr td:nth-child(2) input {
        margin: 0 10px;
        width: 94%;
    }

    .order-item-details tr:nth-child(7) td:nth-child(2) input {
        margin: 0 20px 0 0;
        width: 20px;
    }

    .order-item-details tr td a {
        text-decoration: none;
        color: white !important;
        background-color: rgb(24, 143, 255);
        border: 2px solid rgb(24, 143, 255);
        border-radius: 4px;
        height: 33px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 3px 10px;
        margin: 0 20px 0 5px;
    }

    .order-item-details tr:nth-child(5) td {
        padding: 0px;
        height: 43px;
    }