﻿.top-menu {
    height: 30px;
}

.top-menu div:nth-child(1) {
    float: left;
    width: 60%;
}

.top-menu div:nth-child(2) {
    float: right;
    width: 40%;
}

.top-menu div:nth-child(2) a {
    float: right;
}
.top-menu div:nth-child(2) span {
    float: right;
}
.top-menu div a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkslategrey
}

.top-menu div span {
    text-decoration: none;
    margin: 0 10px;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: blueviolet
}

.top-menu div a:hover {
    color: #fff200;
}

.page-title {
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: darkslategrey;
    display: block;
    margin: 10px auto 40px auto;
    height: 30px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-size: xx-large;
    padding: 10px;
    text-transform: uppercase;
}

.field-label {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkslategrey;
    width: 100%;
}
.radio-button-label {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkslategrey;
}
.radio-group tbody tr td label {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkslategrey;
}
.action-button {
    color: white;
    background-color: rgb(24, 143, 255);
    border: 2px solid rgb(24, 143, 255);
    border-radius: 4px;
    height: 33px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-field {
    margin: 20px auto;
    height: 30px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-size: inherit;
    border-bottom: 1px solid rgb(207, 210, 213);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(250, 255, 189);
    border-radius: 4px;
    width: 100%;
}

.error-message {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: red;
    width: 100%;
}

.info-message {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: darkslategrey;
    width: 100%;
    color: blue;
}

.grid-layout {
    width: 800px;
    margin: 30px auto;
}

.grid-layout-800 {
    width: 800px;
    margin: 30px auto;
}

.grid-layout-600 {
    width: 600px;
    margin: 30px auto;
}

.grid-layout-400 {
    width: 400px;
    margin: 30px auto;
}

.my-comment {
    border: solid blue 1px;
    border-radius: 4px;
    padding: 5px;
    background-color: wheat;
}