﻿body {
    background-color: lightblue;
}

.main-header {
    width: 100%;
    height: 150px;
    background-color: coral;
}

.main-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid coral;
}

.main-header-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid coral;
}


.grid-order-history tbody tr th {
    text-align: left;
}
.grid-order-history tbody tr th:nth-child(4) {
    text-align: right;
}
.grid-order-history tbody tr td:nth-child(4) {
    text-align: right;
}
.grid-order-history tbody tr th:nth-child(1) {
    width: 100px;
}
.grid-order-history tbody tr th:nth-child(2) {
    width: 200px;
}
.grid-order-history tbody tr th:nth-child(3) {
    width: 200px;
}
.track-order-controls {
    width: 600px;
    margin: 30px auto;
}
.track-order-details {
    width: 600px;
    margin: 30px auto;
}
.track-order-details td {
    padding: 6px;
}
.track-order-details select {
    width: 50%;
}

.order-product-controls {
    width: 600px;
    margin: 30px auto;
}

.order-product-controls tr td:nth-child(2) {
    width: 70px;
}
.order-product-grid {
    width: 800px;
    margin: 30px auto;
}
    .order-product-grid tbody tr th {
        text-align: right;
        padding: 6px;
    }
    .order-product-grid tbody tr td {
        text-align: right;
        padding: 6px;
    }
.order-product-grid tbody tr th:nth-child(1) {
    text-align: left;
}
.order-product-grid tbody tr td:nth-child(1) {
    text-align: left;
}
.order-product-grid tbody tr th:nth-child(2) {
    width: 70px;
}
.order-product-grid tbody tr th:nth-child(3) {
    width: 70px;
}
.order-product-grid tbody tr th:nth-child(4) {
    width: 70px;
}
.order-product-grid tbody tr th:nth-child(5) {
    width: 140px;
}
.order-product-grid tr td a {
    text-decoration: none;
    color: white !important;
    background-color: rgb(24, 143, 255);
    border: 2px solid rgb(24, 143, 255);
    border-radius: 4px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
    margin: 0;
}
.order-product-details {
    width: 600px;
    margin: 30px auto;
}
    .order-product-details tbody tr td {
        padding: 6px;
    }
.order-product-details tr td:nth-child(2) select {
    margin: 0 10px;
    width: 95%;
}
.order-product-details tr td:nth-child(2) input {
    margin: 0 10px;
    width: 94%;
}
.order-product-details tr td:nth-child(2) {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "open sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: aquamarine;
}
.order-product-details tr td a {
    text-decoration: none;
    color: white !important;
    background-color: rgb(24, 143, 255);
    border: 2px solid rgb(24, 143, 255);
    border-radius: 4px;
    height: 33px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
    margin: 0 20px 0 5px;
}
.order-product-details tr:nth-child(20) td {
    padding:0px;
    height: 43px;
}