﻿body {
    background-color: lightblue;
}

.main-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid coral;
}
.main-header-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid coral;
}
.main-header {
    width: 100%;
    height: 130px;
    background-color: coral;

}

.about-us {
    padding: 30px 50px;
    color: rgb(77, 77, 79);
    font-family: Arial, "Helvetica Neue", sans-serif;

}

.about-us-login {
    padding: 0px 50px 50px 50px;
    color: rgb(77, 77, 79);
    font-family: Arial, "Helvetica Neue", sans-serif;
    text-align: center;
    font-size: 24px;
}

.about-us-login a {
    display: inline-block;
    margin: 0 20px;
}