﻿body {
    background-color: lightblue;
}

.main-header {
    width: 100%;
    height: 130px;
    background-color: coral;
}

.main-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid coral;
}

.main-header-container {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    background-color: coral;
    border: 1px solid coral;
}

.grid-layout tbody tr th {
    text-align: left;
}
.grid-layout tbody tr th:nth-child(1) {
    width: 60px;
}
.grid-layout tbody tr th:nth-child(2) {
    width: 180px;
}

.grid-layout tbody tr th:nth-child(4) {
    width: 180px;
}