﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Shipping.master.cs" Inherits="HeliSound.Shipping.Shipping" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../css/common.css" rel="stylesheet" />
    <link href="../css/shipping.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="main-header">
            <div class="main-header-container">
                <img src="../images/ShippingBanner.jpg" />
                <div class="top-menu">
                    <div>
                        <asp:LinkButton ID="btnShipping" runat="server" PostBackUrl="~/Shipping/Shipping.aspx">Shipping</asp:LinkButton>
                    </div>
                    <div>
                        <asp:LoginName ID="loginLoginName" runat="server" />
                        <asp:LoginStatus ID="loginLoginStatus" runat="server" />
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
